<div class="content">
  <div style="text-align: left;">
    <%= form_for(@workreport, html: { class: "report-form" }) do |f| %>
      <div class="form-group">
        <h1 style="color: #365486;">New Work Report</h1>
      </div>
      
      <% unless params[:user_id].present? %> 
        <div class="form-group">
          <%= f.label :report_date, class: "form-label" %><br />
          <%= f.select :date, options_for_select((Date.today - 30.days..Date.yesterday).to_a.reverse, Date.today), {}, { class: "form-control", required: true } %>
        </div>
      <% else %>
        <div class="form-group">
          <% if Time.now.hour >= 12 %>
            <%= f.select :date, options_for_select([Date.today], Date.today), {}, { class: "form-control", required: true } %>
          <% else %>
            <%= f.select :date, options_for_select([Date.today, Date.yesterday]), {}, { class: "form-control", required: true } %>
          <% end %>
        </div>
      <% end %>
      
      <% unless params[:user_id].present? %> 
        <div class="form-group">
          <%= f.label :user_id, class: "form-label" %><br />
          <%= f.collection_select :user_id, @users, :id, :email, { prompt: "Select a User" }, class: "form-control", required: true %>        
        </div>
      <% else %>
        <%= f.hidden_field :user_id, value: params[:user_id] %>
      <% end %>
      
      <div class="form-group">
        <%= f.label :project, class: "form-label" %><br />
        <%= f.collection_select :project_id, Project.all, :id, lambda { |project| "#{project.client.client_name} - #{project.name}" }, {  }, class: "form-control", required: true %>        
      </div>
      
      <div class="form-group">
        <%= f.label :tasks, class: "form-label" %><br />
        <%= f.text_area :tasks, class: "form-control", required: true %>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.label :hour, class: "form-label" %><br />
            <%= f.select :hours, (0..18).to_a, { required: true }, class: "form-control" %>
          </div>
          <div class="col">
            <%= f.label :minute, class: "form-label" %><br />
            <%= f.select :minutes, options_for_select([0,10, 20, 30, 40, 50]), { required: true }, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :status, class: "form-label" %><br />
        <%= f.select :status, options_for_select(['inprogress', 'complete']), { required: true }, class: "form-control" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Submit", class: "btn btn-primary", style: "background-color: #365486; border-color: #365486;" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/sidebar' %>
