<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>WorkReport Details </h1>
    <p><strong>Date:</strong> <%= @workreport.date %></p>
    <p><strong>Project:</strong> <%= Project.find(@workreport.projects_id).name %> </p>
    <p><strong>Task:</strong> <%=@workreport.tasks %></p>
    <p><strong>Status:</strong> <%=@workreport.status %> </p>
</div>
</div>
</div>
<%= render 'shared/error' %>
<%= render 'shared/back_button' %>
<%= render 'layouts/sidebar' %>

