<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>User Profile</h1>

  <div class="profile-details">


    <p><strong>Date:</strong> <%= @workreports.date %></p>
    <p><strong>Project:</strong> <%= Project.find(@workreports.project_id).name %> </p>
    <p><strong>Task:</strong> <%=@workreports.tasks %></p>
    <p><strong>Status:</strong> <%=@workreports.status %> </p>



</div>
</div>

</div>
<div class="alert-container">
  <% if notice %>
    <p id="notice-alert" class="alert alert-success">
      <%= notice %>
      <span class="remove-alert" onclick="removeAlert('notice-alert')">&times;</span>
    </p>
  <% end %>
  <% if alert %>
    <p id="alert-alert" class="alert alert-danger">
      <%= alert %>
      <span class="remove-alert" onclick="removeAlert('alert-alert')">&times;</span>
    </p>
  <% end %>
</div>


<style>
  .alert-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  z-index: 9999; 
}
</style>
<%= render 'layouts/sidebar' %>
