<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>User Profile</h1>

  <div class="profile-details">


    <p><strong>Date:</strong> <%= @workreports.date %></p>
    <p><strong>Project:</strong> <%= Project.find(@workreports.project_id).name %> </p>
    <p><strong>Task:</strong> <%=@workreports.tasks %></p>
    <p><strong>Status:</strong> <%=@workreports.status %> </p>



</div>
</div>
</div>
<%= render 'layouts/sidebar' %>
