<div class="content">
  <div style="margin-top: 60px; display: flex; align-items: center;">
    <h1 style="flex-grow: 1;">Work Report</h1>
    <div class="icon-link" style="display: flex; align-items: center;">
      <div class="form-group" style="height: 40px; margin-right: 20px;">
        <input type="text" id="searchInput" placeholder="Search by Name" class="form-control" style="height: 100%;">
      </div>
     <%= link_to new_workreport_path, class: "float-end" do %>
  <%= image_tag("action/add.png", alt: "New Work Report", class: "btn-icon", style: "height: 25px; width: 25px; margin-left: 10px;") %>
  <p class="icon-text" style="margin-left: 10px  ;">Add Other WorkReport</p>
<% end %>

    </div>
  </div>



  <table id="workReportTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Tasks</th>
        <th>Created_by</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @workreport.each do |workreport| %>
        <tr>
          <td><%= workreport.user.f_name %></td>
          <td><%= workreport.date %></td>
          <td><%= workreport.tasks %></td>
          <td><%= User.find(workreport.created_by).f_name%>
          <td><%= workreport.status == 'inprogress' ? 'Incomplete' : 'Complete' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'layouts/sidebar' %>

<script>
  // Function to filter table rows based on search input
  document.getElementById('searchInput').addEventListener('keyup', function() {
    const searchValue = this.value.toLowerCase();
    const tableRows = document.querySelectorAll('#workReportTable tbody tr');

    tableRows.forEach(row => {
      const userName = row.querySelector('td:first-child').textContent.toLowerCase();
      if (userName.includes(searchValue)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  });
</script>


