<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>Holiday details</h1>
      <%= link_to edit_holiday_path(@holiday), class: 'btn-delete' do %>
                <%= image_tag('action/edit.png', height: 30) %>
                <span class="tooltip-text">Edit</span>
              <% end %>

  </div>

  <div class="profile-details">
    <p><strong>Holiday Name:</strong> <%= @holiday.name %></p>
    <p><strong>Holiday Date:</strong> <%= @holiday.holiday_date%></p>

  </div>
</div>
</div>
</div>

<%= render 'layouts/sidebar' %>
