<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>Edit Profile</h1>
  </div>

  <div class="profile-details">
    <%= form_for(@user) do |f| %>
      <%= f.label "Profile Photo" %>
      <%= f.file_field :avatar %><br>
      <p><strong>First Name:</strong> <%= f.text_field :f_name %></p>
      <p><strong>Last Name:</strong> <%= f.text_field :l_name %></p>
      <p><strong>Account Number:</strong> <%= f.text_field :accountnumber %></p>
      <p><strong>IFSC:</strong> <%= f.text_field :ifsc %></p>
      <p><strong>Mobile Number:</strong> <%= f.text_field :mobileNumber %></p>
      <p><strong>Joining Date:</strong> <%= f.date_field :joiningDate, max: Date.today %></p>
      <%= f.submit 'Update' %>
    <% end %>
  </div>
</div>

<%= render 'layouts/sidebar' %>