<div class="content">
  <div style="text-align: left; margin-top:100px">
    <h1>All Users</h1>

     <% if @users.any? %>
      <table class="table table-bordered table-striped">

        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Email</th>
            <th>Company</th>
            <th>Role</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= user.email %></td>
              <td><%= user.company.company_name%>
              <td><%= user.role.role_name%></td>  
              <td><%= link_to soft_delete_user_path(user), method: :delete, data: { turbo_method: :delete }, class: 'btn-delete' do %>
                  <%= image_tag('action/delete.png', height: 30) %>
                  <span class="tooltip-text">Delete</span>
                 <% end %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No users found.</p>
    <% end %>
  </div>
</div>
<div style="position: absolute; top: 130px; right: 40px;">
  <%= link_to 'Add user', users_new_path, style: "color: white; text-decoration: none; padding: 10px; background-color: #365486; border-radius: 5px;" %>
</div>
 <%= render 'layouts/sidebar' %>


