<div class="content">
  <div style="text-align: left; margin-top: 80px; display: flex; align-items: center; justify-content: space-between;">
    <h1 style="flex-grow: 1;">All Users</h1>

    <%= link_to users_new_path, class: "float-end" do %>
      <%= image_tag("action/add.png", alt: "New user", class: "btn-icon", style: "height: 40px; width: 40px;") %> 
    <% end %>
  </div>

  <% if @users.any? %>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.email %></td>
            <td><%= user.company&.company_name || ' ' %></td>
            <td><%= user.role&.role_name %></td>
            <td>
              <%= link_to soft_delete_user_path(user), method: :delete, data: { turbo_method: :delete }, class: 'btn-delete' do %>
                <%= image_tag('action/delete.png', height: 30) %>
                <span class="tooltip-text">Delete</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No users found.</p>
  <% end %>
</div>

<%= render 'layouts/sidebar' %>
