<div class="content">
  <div style="text-align: left;  display: flex; align-items: center; justify-content: space-between;">
    <h1 style="flex-grow: 1;">All Users</h1>
<div class="content">
  <div style="text-align: left; margin-top: 80px; display: flex; align-items: center; justify-content: space-between;">
    <div class="icon-link">
      <%= link_to new_user_path, class: "float-end" do %>
        <%= image_tag("action/user.png", alt: "New user", class: "btn-icon", style: "height: 30px; width: 28px;") %> 
        <p class="icon-text">New User</p>
      <% end %>
    </div>

    <div class="icon-link">
      <%= link_to clients_path, class: "float-end" do %>
        <%= image_tag("action/client.png", alt: "New user", class: "btn-icon", style: "height: 30px; width: 30px;") %>
        <p class="icon-text">Clients</p>
      <% end %>
    </div>

    <div class="icon-link">
      <%= link_to projects_path, class: "float-end" do %>
        <%= image_tag("action/project.png", alt: "New user", class: "btn-icon", style: "height: 30px; width: 30px;") %>
        <p class="icon-text">Projects</p>
      <% end %>
    </div>

    <div class="icon-link">
      <%= link_to email_hierarchys_path, class: "float-end" do %>
        <%= image_tag("action/email.png", alt: "New user", class: "btn-icon", style: "height: 30px; width: 30px;") %>
        <p class="icon-text">Email Hierarchy</p>
      <% end %>

     
    </div>
  </div>
  </div>
  </div>

  <% if @users.any? %>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>No</th>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.email %></td>
            <td><%= user.company&.company_name || ' ' %></td>
            <td><%= user.role&.role_name %></td>
            <td>

                <%= link_to soft_delete_user_path(user), method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure? This action cannot be undone.' }, class: 'btn-delete' do %>
                <%= image_tag('action/delete.png', height: 30) %> 
                <span class="tooltip-text">Delete</span>
              <% end %>
                  

                <%= link_to user, class: 'btn-delete' do %>
                <%= image_tag('action/show.png', height: 30) %> 
                <span class="tooltip-text">Show</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No users found.</p>
  <% end %>
</div>

<%= render 'layouts/sidebar' %>
