<div class="content">
  <div style="text-align: left; margin-top:100px">
    <h1>All Users</h1>

    <% if @user.any? %>
      <table class="table table-bordered table-striped">

        <thead class="thead-dark">
          <tr>
            <th>No</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @user.each_with_index do |user, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= user.email %></td>
              <td> <%= link_to '<i class="fas fa-trash"></i>'.html_safe, soft_delete_user_path(user), method: :delete, data: {turbo_method: :delete, }, class: 'btn btn-danger' %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No users found.</p>
    <% end %>
  </div>
</div>
<div style="position: absolute; top: 130px; right: 40px;">
  <%= link_to 'Add user', add_user_path, style: "color: white; text-decoration: none; padding: 10px; background-color: #365486; border-radius: 5px;" %>
</div>
 <%= render 'layouts/sidebar' %>