<div class="content">
  <div style="text-align: left; margin-top: 60px;">
    <%= form_with model: @user do |f| %>
      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
          <ul>
            <% user.errors.each do |error| %>
              <li><%= errors.full_messages %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <h1 style="color: #365486;">Add User</h1>
        <%= f.label :email, class: "form-label" %><span class="required">*</span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %> <br />
        <% if @user.errors[:email].any? %>
          <div class="error-message"><%= @user.errors[:email].first %></div>
        <% end %>
      </div>
 
      <div class="field">
        <%= f.label :password, class: "form-label" %><span class="required">*</span>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %><br />
        <% if @user.errors[:password].any? %>
          <div class="error-message"><%= @user.errors[:password].first %></div>
        <% end %>
      </div>
 
      <div class="field">
        <div class="form-group">
          <div class="half-width">
            <%= f.label :role_id, class: "form-label" %><span class="required">*</span><br />
            <%= f.collection_select :role_id, Role.where.not(id: [1]), :id, :role_name, { prompt: "Select a role" }, class: "form-control", required: true, id: "role-select" %>
            <% if @user.errors[:role_id].any? %>
              <div class="error-message"><%= @user.errors[:role_id].first %></div>
            <% end %>
          </div>
          <div class="half-width" class>
            <%= f.label :company_id, class: "form-label" %><span class="required">*</span><br />
            <%= f.collection_select :company_id, Company.all, :id, :company_name, { prompt: "Select a company" }, class: "form-control", required: true %>
            <% if @user.errors[:company_id].any? %>
              <div class="error-message"><%= @user.errors[:company_id].first %></div>
            <% end %>
          </div>
        </div>
      </div>
 
      <div class="field" id="designation-department-fields">
        <div class="form-group">
          <div class="half-width">
            <%= f.label :department_id, class: "form-label" %><span class="required">*</span><br />
            <%= f.collection_select :department_id, Department.all, :id, :department_name, { prompt: "Select a department" }, { class: "form-control" } %><br />
            <% if @user.errors[:department_id].any? %>
              <div class="error-message"><%= @user.errors[:department_id].first %></div>
            <% end %>
          </div>
          <div class="half-width">
            <%= f.label :designation_id, class: "form-label" %><span class="required">*</span><br />
            <%= f.collection_select :designation_id, Designation.all, :id, :name, { prompt: "Select a department" }, { class: "form-control" } %><br />
            <% if @user.errors[:designation_id].any? %>
              <div class="error-message"><%= @user.errors[:designation_id].first %></div>
            <% end %>
          </div>
        </div>
      </div>
 
      <div class="field">
        <%= f.submit "Add", class: "btn btn-primary", style: "width: 100px; background-color: #365486; border-color: #365486;" %>
      </div>
 
    <% end %>
  </div>
</div>
 <%= render 'shared/error' %>

<%= render 'layouts/sidebar' %>
 
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const roleSelect = document.getElementById('role-select');
    const designationDepartmentFields = document.getElementById('designation-department-fields');
 
    // Hide designation and department fields initially
    designationDepartmentFields.style.display = 'none';
 
    roleSelect.addEventListener('change', function() {
      if (roleSelect.value === '2') {
        // If Company Admin is selected, hide designation and department fields
        designationDepartmentFields.style.display = 'none';
      } else {
        // Otherwise, show designation and department fields
        designationDepartmentFields.style.display = 'block';
      }
    });
  });
</script>
 
<style>
  .required {
    color: red;
  }
</style>