<div class="content">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 60px;">
    <h1>User Profile</h1>
    <%= link_to edit_user_path(@user), class: 'btn-delete' do %>
      <%= image_tag('action/edit.png', height: 30) %>
      <span class="tooltip-text">Edit</span>
    <% end %>
  </div>


  <div class="profile-details">
    <div style="float: right;">
      <% if @user.avatar.attached? %>
        <%= image_tag url_for(@user.avatar), alt: "User Avatar", class: "round-avatar" %>
      <% end %>
    </div>
    <div style="overflow: hidden;"> 
      <p><strong>First Name:</strong> <%= @user.f_name %></p>
      <p><strong>Last Name:</strong> <%= @user.l_name %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
      <p><strong>User Type:</strong> <%= @user.role.role_name %></p>
      <p><strong>Account Number:</strong> <%= @user.accountnumber %></p>
      <p><strong>IFSC:</strong> <%= @user.ifsc %></p>
      <p><strong>Mobile Number:</strong> <%= @user.mobileNumber %></p>
      <p><strong>Joining Date:</strong> <%= @user.joiningDate %></p>
      <p><strong>Is Active:</strong> <%= @user.isactive %></p>
    </div>
  </div>
  <%= render 'shared/back_button' %>

</div>
<%= render 'shared/error' %>
<%= render 'layouts/sidebar' %>

