<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>Edit Client</h1>
  </div>

  <div class="profile-details">
    <%= form_for @client, url: client_path(@client), method: :patch do |f| %>
      <p><strong>Client Name:</strong> <%= f.text_field :client_name %></p>
    <p>
  <p>
  <strong>Client Status:</strong>
  <%= f.select :is_active, options_for_select([['Active', true], ['Deactivated', false]], f.object.is_active), { prompt: 'Select Status' }, class: "form-control" %>
</p>

      <%= f.submit 'Update' %>
    <% end %>
  </div>
<%=render 'shared/back_button'%>
</div>

  
  <div class="alert-container">
  <% if notice %>
    <p id="notice-alert" class="alert alert-success custom-alert">
      <%= notice %>
      <span class="remove-alert" onclick="removeAlert('notice-alert')">&times;</span>
    </p>
  <% end %>
  <% if alert %>
    <p id="alert-alert" class="alert alert-danger custom-alert">
      <%= alert %>
      <span class="remove-alert" onclick="removeAlert('alert-alert')">&times;</span>
    </p>
  <% end %>
</div>


<style>
  .alert-container {
  position: absolute;
  top: 20;
  right: 0;
  width: 30%;
  z-index: 9999; 
}
</style>
<script>
  function removeAlert(alertId) {
    var alertElement = document.getElementById(alertId);
    if (alertElement) {
      alertElement.style.display = "none";
    }
  }
</script>
<%= render 'layouts/sidebar' %>
