<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>Client details</h1>
      <%= link_to edit_client_path(@client), class: 'btn-delete' do %>
                <%= image_tag('action/edit.png', height: 30) %> 
                <span class="tooltip-text">Edit</span>
              <% end %>
    
  </div>

  <div class="profile-details">
    <p><strong>Client Name:</strong> <%= @client.client_name %></p>
    <p><strong>Client Status:</strong> <%= @client.is_active%></p>
      <p><strong>Created By:</strong> <%= User.find(@client.user_id).f_name %></p>


   
  </div>
</div>
</div>
</div>

<%= render 'layouts/sidebar' %>
