<div class="content">
  <div style="text-align: left; margin-top:60px">
    <h1>Project Details</h1>
    <%= link_to edit_project_path(@project), class: 'btn-delete' do %>
                <%= image_tag('action/edit.png', height: 30) %> 
                <span class="tooltip-text">Edit</span>
              <% end %>
  </div>

  <div class="profile-details">
    <p><strong>Project Name:</strong> <%= @project.name %></p>
    <p><strong>Client Name:</strong> <%= Client.find(@project.client_id).client_name %></p>
    <p><strong>Project Status:</strong> <%= @project.is_active%></p>



   
  </div>
</div>
</div>
</div>
  
  <div class="alert-container">
  <% if notice %>
    <p id="notice-alert" class="alert alert-success custom-alert">
      <%= notice %>
      <span class="remove-alert" onclick="removeAlert('notice-alert')">&times;</span>
    </p>
  <% end %>
  <% if alert %>
    <p id="alert-alert" class="alert alert-danger custom-alert">
      <%= alert %>
      <span class="remove-alert" onclick="removeAlert('alert-alert')">&times;</span>
    </p>
  <% end %>
</div>


<style>
  .alert-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  z-index: 9999; 
}
</style>
<%= render 'layouts/sidebar' %>
