<div class="content">
  <div style="text-align: left; margin-top:80px">
    <h1>User Profile</h1>
  </div>

  <div class="profile-details">
    <p><strong>First Name:</strong> <%= @user.f_name %></p>
    <p><strong>Last Name:</strong> <%= @user.l_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>User Type:</strong> <%= @user.role.role_name%></p>

    <p><strong>Account Number:</strong> <%= @user.accountnumber %></p>
    <p><strong>IFSC:</strong> <%= @user.ifsc %></p>
    <p><strong>Mobile Number:</strong> <%= @user.mobileNumber %></p>
    <p><strong>Joining Date:</strong> <%= @user.joiningDate %></p>
    <p><strong>Is Active:</strong> <%= @user.isactive %></p>
  </div>

  
   
  </div>
  </div>
  <%= render 'layouts/sidebar' %>
